.login {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lora";
}
.login_background {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.login > h1 {
  font-size: 22px;
  font-weight: 500;
  color: white;
}
.login_box {
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_box > h2 {
  color: white;
  font-size: 15px;
  margin: 10px;
  font-weight: 500;
  font-family: "lora";
}
.box_div {
  display: flex;
  align-items: center;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 20px;
  padding: 10px;
  color: white;
}
.box_div > svg {
  font-size: 25px;
}
.box_div > .MuiButtonBase-root {
  font-family: "Lora";
  font-size: 12px;
  color: white;
}
